<div style="margin-top: 48px; padding-left: 24px;">
    <h1 style="display: flex; justify-content: flex-start; align-items: center;">
        <img style="width: 42px; height: auto; margin-right: 12px;" src="/assets/apple-touch-icon.png" alt=""> Prstame
    </h1>
</div>

<div style="margin-top: 48px; margin-bottom: 48px;">
    <img style="width: 70%; display: block; margin: auto;" src="/assets/svg/career-progress.svg" alt="">
</div>

<div style="">
    <button type="button" class="success button" mat-button-raised color="accent">Login</button>
    <button type="button" class="success button" mat-button-raised color="primary">Login</button>
</div>